:root {
    /* COLOR PALETTE */
    --color-primary: #14ff5a; /* text */
    --color-secondary: #258441;
    --color3: #15e653;
    --color-bg: #03541b; /* body */
    --color5: #76b087;
}

body {
    transition: 0.5s ease;
}

main {
    margin-top: 55px; /* margin top to display below navbar */
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}


@media (max-width: 1090px) {
    h1 {
        font-size: 40px;
    }
}

.cta-btn {
    margin: 0;
    padding: 0 1rem;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 700;
    color: #fff;
    background-color: var(--color-secondary);
    border: none;
    cursor: pointer;
}
.cta-btn:hover {
    color: var(--color-bg);
    background-color: var(--color-primary);
}

/* header.php (contains the navbar) */
#header {
    & nav {
        height: 55px;
        background-color: var(--color-bg);
    }

    & .navbar-brand {
        color: #fff;
        transition: transform 0.3s ease;
    }
    & .navbar-brand:hover {
        transform: scale(1.1);
    }

    & #light-switch:hover {
        cursor: pointer;
    }
    
    @media (max-width: 991.5px) {
        & ul {
            padding: 1rem;
            background-color: var(--color-bg);
            border-radius: 0 0 0.5rem 0.5rem;
        }
    }

    & .nav-link {
        color: #fff;
    }
    & .nav-link:hover {
        text-decoration: underline;
    }
}
/* footer.php */
#footer {
    & #footer-logo:hover {
        transition: transform 0.3s ease;
    }
    & #footer-logo:hover {
        transform: scale(1.1);
    }

    & .nav-item:hover {
        text-decoration: underline;
    }
}

/* homepage.php */
#homepage {
    & .hero-section {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 95vh;
        color: #fff;
    }
    
    & .hero-content {
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(0%, -50%);
        transition: all ease 0.3s;
    }

    & h1 {
        font-size: 2.7rem;
    }
    
    @media (max-width: 700px) {
        & .hero-content {
            width: 400px;
            padding: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        & .cta-btn {
            text-align: center;
        }
    }
    
    & .testimonial-headshot {
        width: 48px !important;
        height: 48px !important;
    }
}

/* signup.php */
#signup {
    background-color: var(--color-secondary) !important;
}

/* courses.php */
#courses {
    & .course-card {
        color: #fff;
        background-color: var(--color-bg);
    }

    & .course-img {
        aspect-ratio: 1/1;
        height: 160px;
        background-size: cover;
        background-position: center;
    }

    & .places-remaining {
        color: var(--color-primary);
    }
}