:root {
  /* green color palette: https://coolors.co/00b837-31af57-058a2d-2f6c65 */
  --green-100: #00b837;
  --green-200: #31af57;
  --green-300: #058a2d;
  --green-400: #03541b;
}

body {
  transition: 0.25s ease;
}

h1 {
  font-size: 60px;
  margin: 0;
  font-weight: 900;
}

@media (max-width: 1090px) {
    h1 {
        font-size: 40px;
    }
}

/* Bootstrap-like classes: */
/* 1. Colors  */
.text-green-100 { color: var(--green-100); }
.bg-green-100 { background-color: var(--green-100); }

.text-green-200 { color: var(--green-200); }
.bg-green-200 { background-color: var(--green-200); }

.text-green-300 { color: var(--green-300); }
.bg-green-300 { background-color: var(--green-300); }

.text-green-400 { color: var(--green-400); }
.bg-green-400 { background-color: var(--green-400); }

/* 2. UI */
.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.d-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 3. breakpoints classes (https://getbootstrap.com/docs/5.3/layout/breakpoints/#media-queries) */
@media (max-width: 768px /* max-md */) {
  .max-md\:d-flex-col {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 991.5px /* max-lg */) {
  .max-lg\:p-3 { padding: 1rem !important; }
}

/* phone/tablet (touch screens < lg) */
@media only screen and (pointer: coarse) and (max-width: 991.5px /* max-lg */) {
  .ts-max-lg\:d-flex-col {
    display: flex;
    flex-direction: column-reverse;
  }
  .ts-max-lg\:gap-5 {
    gap: 3rem;
  }
  
  .ts-max-lg\:p-3 { padding: 1rem !important; }
  
  .ts-max-lg\:size-80px {
    width: 80px !important;
    height: 80px !important;
  }

  .ts-max-lg\:w-75px { width: 75px; }

  .ts-max-lg\:min-vh-10 { min-height: 10vh; }

  .ts-max-lg\:fs-xl { font-size: 3.7rem !important; }
  .ts-max-lg\:fs-xxl { font-size: 4.5rem !important; }
}

.size-25px {
  width: 25px;
  height: 25px;
}

.w-fit {
  width: fit-content;
}
.h-fit {
  height: fit-content;
}

.btn-cta {
  letter-spacing: 1px;
  background-color: var(--green-200);
  &:hover {
    background-color: var(--green-200);
  }
}

/* 4. Hover animations */
.hover\:text-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.hover\:scale {
  transition: 0.25s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

/* homepage.php */
#homepage {
    & .hero-section {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 95vh;
        color: #fff;
    }
    
    & .hero-content {
        position: absolute;
        top: 50%;
        left: 4%;
        transform: translate(0%, -50%);
        transition: all ease 0.3s;
    }

    & h1 {
        font-size: 2.7rem;
    }

    @media (max-width: 700px) {
        & .hero-content {
            width: 400px;
            padding: 20px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    
    & .testimonial-headshot {
        width: 48px !important;
        height: 48px !important;
    }
}

/* signup.php */
#signup {
    & #logo {
        width: 10%;
    }
}

/* signin.php */
#signin {
    & #logo {
        width: 10%;
    }
}

/* courses.php */
#courses {
    & .course-card {
        color: #fff;
        background-color: var(--color-bg);
    }
    
    & .course-img {
        aspect-ratio: 1/1;
        height: 160px;
        background-size: cover;
        background-position: center;
    }
    
    & .places-remaining {
        color: var(--green-100);
    }
}

/* contact.php */
#contact {
    & #message {
        height: 100px;
    }
}