h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}

@media (max-width: 1090px) {
    h1 {
        font-size: 40px;
    }
}

/*----------------------------------
navbar
------------------------------------*/
.navbar-brand {
    transition: transform 0.3s ease;
}
.navbar-brand:hover {
    transform: scale(1.1);
}

.nav-link:hover {
    text-decoration: underline;
}

#navBtn {
    margin: 0;
}

/*---------------------------------- 
homepage.php
------------------------------------*/
#homepage {
    margin-top: 55px; /* margin top for the navbar */
}

#homepageHeroSection {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    color: #fff;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0%, -50%);
    transition: all ease 0.3s;
}

.hero-btn {
    margin: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    border: none;
    background-color: #ff4f19;
    border-radius: 30px;
    width: 120px;
    height: 40px;
}
.hero-btn:hover {
    background-color: #cc3000;
}

#heroImgCredit {
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media (max-width: 700px) {
    .hero-content {
        background-color: #ffedde;
        width: 400px;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #hero-btn {
        text-align: center;
    }
}

#homepageDescription {
    height: 1000px;
}

/*---------------------------------- 
signin.php
------------------------------------*/
#signin {
    margin-top: 55px; /* margin top for the navbar */
}

/*---------------------------------- 
signup.php
------------------------------------*/
#signup {
    margin-top: 55px; /* margin top for the navbar */
}