@media screen and (min-width: 768px) {
    .nav-link {
        border-right: 2px solid #AAA;
    }

    .nav-link:last-child {
        border-right: none;
    }
}

#hero-section {
    position: relative;
    background-image: url("../assets/hero-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    color: #FFF;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(0%, -50%);
    transition: all ease 0.3s;
}

h1 {
    font-size: 60px;
    margin: 0;
    font-weight: 900;
}

.hero-btn {
    margin: 1rem;
    cursor: pointer;
    color: white;
    letter-spacing: 2px;
    border: none;
    background-color: #ff4f19;
    border-radius: 30px;
    width: 120px;
    height: 50px;
}

#hero-img-credit {
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media (max-width: 1090px) {
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 700px) {
    .hero_content {
        background-color: #ffedde;
        width: 400px;
        padding: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #hero-btn {
        text-align: center;
    }
}

/* portail.php */
